.About-page {
  line-height: 1.6;
  padding: 0 1em;
  text-align: center;
  width: 100%;
}

.About-page .version {
  font-size: 1.3em;
  margin: 1em;
}

.About-title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.5em;
  text-align: center;
}

.About-title-heading {
  line-height: 1.2;
}

.About-title img {
  height: 3.4em;
  padding: 1em;
}

.About-title .subtitle {
  display: block;
  font-size: 0.5em;
}
