.Help-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Help-page .sections {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0.5em 1em 0 1em;
}

.sections div {
  margin: 0.2em;
  padding: 0.4em;
  border-radius: 12px;
}

.sections div:not(.returnTo) {
  padding: 0.4em;
  border: 1px solid white;
  border-radius: 12px;
}

.sections div.selected:not(.returnTo) {
  border: 1px solid gold;
}

.Help-page .topics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Help-page .topic {
  overflow-y: auto;
}

.Help-page .topic > div {
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.Help-page .topic > div > * {
  padding: 0 1em;
  width: clamp(320px - 2em, 70%, 70ch);
}

.Help-page .topic :where(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  line-height: 1.2;
}

.Help-page .topic :where(h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p) {
  margin-top: 0;
}

.Help-page .topic p {
  line-height: 1.4;
}

#topic-welcome-1 {
  text-align: center;
  margin: 0 auto;
  max-width: 45em;
}