.sidebar-wrapper {
  position: relative;
}

.toggle-sidebar {
  display: block;
  position: absolute;
  top: 4em;
  right: 1em;
  width: 1em;
  height: 1em;
  margin: 0;
  border-radius: 1em;
  border: 1px solid gray;
  background-color: #333;
  transition: all ease-in-out .5s;
}

.toggle-sidebar.show {
  transform: rotate(180deg);
  right: -1em;
}

.sidebar {
  position: relative;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  will-change: width;  
}

.sidebar.hide {
  width: 0px;
  transition: width ease-in-out 1s;
}

.sidebar.show {
  width: 100%;
  transition: width ease-in-out 1s;  
}

.sidebar-wrapper.hide {
  transform: translateX(-100%);
  transition: transform ease-in-out 1s;
  will-change: transform;
}

.sidebar-wrapper.show {
  transform: translateX(0);
  transition: transform ease-in-out 1s;
  will-change: transform;
  position: relative;
}

.sidebar > div {
  background-color: #444;
  padding: 1em;
  border-radius: 0 .5em .5em 0;
  border: 1px solid #888;
  border-left-width: 0;
  margin: 1em 1em 0 0;
  width: 18rem;
}

.sidebar-actions {
  text-align: center;
}

.sidebar-actions button {
  margin-bottom: .5em;
}

.sidebar-actions button:last-of-type {
  margin-bottom: 0;
}

.filter-form {
  text-align: center;
}

.filter-form label,
.filter-form .toggle-label,
.sidebar > div h3 {
  display: block;
  border-bottom: 1px solid white;
  margin-top: .5em;
  margin-bottom: .25em;
}

.sidebar-actions h3 {
  margin-top: 0;
}

.sidebar h4 {
  margin: 0;
}

.sidebar div > h3:first-child {
  margin-top: 0;
}
