.mod-detail {
	box-sizing: border-box;
}

.mod-detail,
.delete-mod-display {
	position: relative;
	display: inline-grid;
	grid-template-columns: 5em 1fr;
	grid-template-rows: 1fr auto auto;
	grid-column-gap: 1em;
	grid-row-gap: 0;
	align-items: start;
	border: 1px solid dodgerblue;
	background-color: rgba(0, 0, 96, 0.5);
	color: white;
	text-shadow: 2px 2px 1px black;
	padding: 1em;
	width: 21em;
}

.mod-detail .mod-image,
.delete-mod-display .mod-image {
	vertical-align: top;
	grid-row: 1;
	grid-column: 1;
	width: 4em;
}

.mod-detail > .avatar,
.delete-mod-display > .avatar {
	grid-row: 2;
	grid-column: 1;
	text-align: center;
	font-size: 0.8em;
	margin-top: 1.75em;
}

.mod-detail .character-name,
.delete-mod-display .character-name {
	grid-row: 3;
	grid-column: 1 / span 2;
	margin: 0;
	text-align: left;
	font-weight: normal;
	font-size: 0.8em;
}

.mod-detail > .stats,
.delete-mod-display > .stats {
	grid-row: 1 / span 2;
	grid-column: 2 / span 2;
	font-size: 0.9em;
}
