html,
body {
	height: 100dvh;
	box-sizing: border-box;
}

#root {
	display: flex;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

::-webkit-scrollbar {
	width: 0.4em;
	height: 0.4em;
	margin-left: 1em;
}

::-webkit-scrollbar-track {
	border: 1px inset dodgerblue;
	background: #1e2f46;
}

::-webkit-scrollbar-thumb {
	background: dodgerblue;
	min-height: 3em;
}

strong {
	font-weight: bold;
	color: #a35ef9;
}
