/*
---break---
*/
@layer base {
	:root {
		--background: 0 0% 100%; /* white */
		--foreground: 222.2 84% 4.9%; /* slate-950 */
		--selected: 214.3 31.8% 91.4%; /* slate-200 */
		--selected-foreground: 217.2 32.6% 17.5%; /* slate-800 */
		--selected-border: 212.7 26.8% 83.9%; /* slate-300 */
		--card: 0 0% 100%; /* white */
		--card-foreground: 222.2 84% 4.9%; /* slate-950 */
		--popover: 0 0% 100%; /* white */
		--popover-foreground: 222.2 84% 4.9%; /* slate-950 */
		--primary: 222.2 47.4% 11.2%; /* slate-900 */
		--primary-foreground: 210 40% 98%; /* slate-50 */
		--secondary: 210 40% 96.1%; /* slate-100 */
		--secondary-foreground: 222.2 47.4% 11.2%; /* slate-900 */
		--muted: 210 40% 96.1%; /* slate-100 */
		--muted-foreground: 215.4 16.3% 46.9%; /* slate-500 */
		--accent: 210 40% 96.1%; /* slate-100 */
		--accent-foreground: 222.2 47.4% 11.2%; /* slate-900 */
		--destructive: 0 84.2% 60.2%; /* red-500 */
		--destructive-foreground: 210 40% 98%; /* slate-50 */
		--border: 214.3 31.8% 91.4%; /* slate-200 */
		--input: 214.3 31.8% 91.4%; /* slate-200 */
		--ring: 222.2 84% 4.9%; /* slate-950 */
		--chart-1: 12 76% 61%; /* orange-500 */
		--chart-2: 173 58% 39%; /* teal-600 */
		--chart-3: 197 37% 24%; /* cyan-800 */
		--chart-4: 43 74% 66%; /* yellow-400 */
		--chart-5: 27 87% 67%; /* orange-400 */
		--mod-grey: 200.6 94.4% 86.1%; /* sky-200 */
		--mod-green: 142.1 70.6% 45.3%; /* green-500 */
		--mod-blue: 224.3 76.3% 48.0%; /* blue-700 */
		--mod-purple: 272.1 71.7% 47.1%; /* purple-700 */
		--mod-gold: 37.7 92.1% 50.2%; /* amber-500 */
		--radius: 0.5rem;
	}
	.dark {
		--background: 222.2 84% 4.9%; /* slate-950 */
		--foreground: 210 40% 98%; /* slate-50 */
		--selected: 215.3 25% 26.7%; /* slate-700 */
		--selected-foreground: 210 40% 96.1%; /* slate-100 */
		--selected-border: 210 40% 96.1%; /* slate-600 */
		--card: 222.2 84% 4.9%; /* slate-950 */
		--card-foreground: 210 40% 98%; /* slate-50 */
		--popover: 222.2 84% 4.9%; /* slate-950 */
		--popover-foreground: 210 40% 98%; /* slate-50 */
		--primary: 210 40% 98%; /* slate-50 */
		--primary-foreground: 222.2 47.4% 11.2%; /* slate-900 */
		--secondary: 217.2 32.6% 17.5%; /* slate-800 */
		--secondary-foreground: 210 40% 98%; /* slate-50 */
		--muted: 217.2 32.6% 17.5%; /* slate-800 */
		--muted-foreground: 215 20.2% 65.1%; /* slate-400 */
		--accent: 217.2 32.6% 17.5%; /* slate-800 */
		--accent-foreground: 210 40% 98%; /* slate-50 */
		--destructive: 0 62.8% 30.6%; /* red-900 */
		--destructive-foreground: 210 40% 98%; /* slate-50 */
		--border: 217.2 32.6% 17.5%; /* slate-800 */
		--input: 217.2 32.6% 17.5%; /* slate-800 */
		--ring: 212.7 26.8% 83.9%; /* slate-300 */
		--chart-1: 220 70% 50%; /* blue-500 */
		--chart-2: 160 60% 45%; /* green-600 */
		--chart-3: 30 80% 55%; /* orange-500 */
		--chart-4: 280 65% 60%; /* purple-500 */
		--chart-5: 340 75% 55%; /* pink-500 */
		--mod-grey: 185.1 95.9% 90.4%; /* cyan-100 */
		--mod-green: 141.9 69.2% 58%; /* green-400 */
		--mod-blue: 213.1 93.9% 67.8%; /* blue-400 */
		--mod-purple: 270 95.2% 75.3%; /* purple-400 */
		--mod-gold: 45.9 96.7% 64.5%; /* amber-300 */
	}
}
/*
---break---
*/
/*
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
*/
